<section class="content-section">

    <div class="about-game-container">
        <div class="about-game">
            <p class="pp">
                You need some $DUNs to start playing ? Indicate your dn1 address below. If our airdrop bot is not too busy, you should receive some $DUN in a few minutes!
            </p>
        </div>
    </div>

    <br/>

    <!-- We can init with Metal's dn1 if any -->
    <input id="dn1-to-airdrop" type="text" style="width: 50%; min-width: 300px; margin: auto;" placeholder="dn1xyz..." />
    <br/>
    <button onclick="captcha.show_captcha(freeDuns.submitRequest)">Get free $DUN</button>
    <br/>
    <br/>

    <h4 style="color:#f45c5c" id="free-duns-info-area">
        &nbsp;
    </h4>

</section>