<style>
    .phase {
        margin: 30px 0 0 0 !important;
        padding: 0 0 0 20px !important;
        min-width: 100px;
        border-left: 4px solid #eee;
    }
    
    .xbutton {
        font-size: 110%;
    }
    
    #game-initial-phase,
    #game-initial-phase-playing,
    #game-initial-phase-secret-explanation,
    #game-initial-phase-submitting,
    #game-initial-phase-waiting-1,
    #game-initial-phase-waiting-2,
    #game-initial-phase-waiting-3,
    #game-reveal-phase,
    #game-reveal-phase-revealing,
    #game-reveal-phase-submitting,
    #game-reveal-phase-waiting-1,
    #game-reveal-phase-waiting-2,
    #game-reveal-phase-waiting-3,
    #game-finalize-phase,
    #game-finalize-phase-to-denounce,
    #game-finalize-phase-denouncing-1,
    #game-ended-phase,
    #game-ended-phase-with-winner,
    #game-ended-phase-no-winner,
    #game-unexpected-phase,
    #game-compromised-phase,
    #game-compromised-phase-no-compensation,
    #game-compromised-phase-to-compensate,
    #game-compromised-phase-to-compensate-not-played,
    #game-compromised-phase-compensated,
    #game-compromised-phase-early,
    #game-compromised-phase-late {
        display: none;
    }
</style>


<section class="content-section">

    <div class="about-game-container">
        <div class="about-game">
            <p class="pp">
                Step right up! Dune Raffle is here and it's free to play! Prizes galore! Will you be the winner of the jackpot? There's only one way to find out!
            </p>

            <p class="pp">
                Want to increase your odds? Insert a free alea during play and receive <span id="nb-tickets-per-commit-1">{nb-tickets-per-commit-1}</span>X the number of tickets!
            </p>
        </div>
    </div>

    <select id="raffle-kind" class="browser-default custom-select" style="width:33%; min-width: 200px; margin: 0px auto 30px auto; font-weight: bold" onchange='controller.changeRaffleKind(false);'>
        <option id="hourly-prize" value="hourly" selected>Hourly Raffle</option>
        <option id="daily-prize" value="daily">Daily Raffle</option>
        <option id="weekly-prize" value="weekly">Weekly Raffle</option>
    </select>


    <div>
        <ul id="get-free-duns" style="display: none;">
            <!-- TODO
            <!-- <li id="reveal-pubkey" style="display: none;" class="button">Reveal my public key</li> -->
            <li class="button" onclick="document.location = 'free-duns.php';">Get Free DUNs</li>
        </ul>
        <div id="pay-fees" style="text-align: left; margin: 0 40px" onmouseup='controller.swapPayFees();'>
            <input type="checkbox" id="collectCall" name="collectCall" value="No">
            <label class="pp" for="collectCall">Pay fees for me if possible (contract available balance: <span id="kt1-available-balance">{kt1-available-balance}</span> DUN)</label><br>
        </div>
        <!-- alerts on phases changes disabled/hidden currently -->
        <div id="notify-phases-change" style="text-align: left; margin: 0 40px" onmouseup="controller.swapNotifyPhasesChange()">
            <input type="checkbox" id="notify-phases-change-checkbox" name="notify-phases-change-checkbox" value="No">
            <label class="pp" for="notify-phases-change-checkbox">Alert me on phases change</label><br>
        </div>
        <br/>
    </div>

    <!-- game phases summary -->
    <div id="game-summary" class="row justify-content-center" style="border: 1px solid #ccc; border-radius: 15px 70px; margin:0; padding-bottom: 12px;">
        <div class="col-5">
            <div class="phase" style="border-style: none;">
                <h3>
                    <span id="raffle-kind-2">{raffle-kind}</span> Raffle #<span id="raffle-number">{raffle-number}</span>
                </h3>
                <hr style="margin: 0px auto; width: 50%;" />
                <p class="pp">
                    <span id="raffle-status">{raffle-status}</span>
                </p>
            </div>
        </div>
        <div id="phase-1" class="col-2">
            <div class="phase  justify-content-center">
                <p class="pp" id="phase-1-title">
                    Registration
                </p>
                <div class="progress">
                    <div id="phase-1-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">75%</div>
                </div>
                <p id="phase-1-info">
                    &nbsp;
                </p>
            </div>
        </div>
        <div id="phase-2" class="col-2">
            <div class="phase">
                <p class="pp" id="phase-2-title">
                    Revelation
                </p>
                <div class="progress">
                    <div id="phase-2-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <p id="phase-2-info">
                    &nbsp;
                </p>
            </div>
        </div>
        <div id="phase-3" class="col-2">
            <div class="phase">
                <p class="pp" id="phase-3-title">
                    Draw
                </p>
                <div class="progress">
                    <div id="phase-3-bar" class="progress-bar progress-bar-striped progress-bar-animated bg-info" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%"></div>
                </div>
                <p id="phase-3-info">
                    &nbsp;
                </p>
            </div>
        </div>
        <div id="phase-3" class="col-1">
            &nbsp;
        </div>
    </div>

    <div id="back-to-live-button" style="margin-top: 30px; display:none">
        <p class="pp">
            You're viewing an old game!
            <a style="font-weight: bold; cursor: pointer; color: #f56a6a; font-size: 105%; border: 0;" onclick="controller.showGame('head');">
                Back to live raffle.
            </a>
        </p>
    </div>

    <div id="ticket-coupon" style="display: none">
        <div class="row justify-content-center" style="margin-top:30px;">
            <div id="phase-3" class="col-4" style="min-width: 300px;">
                <div id="ticket-coupon-form" class="justify-content-center" style="padding: 8px 20px 1px 20px; background-color: rgb(245, 106, 106); border-style: dotted; border: 5px dotted #fff; border-width: 0 5px; border-radius: 15px;">
                    <h1 class="pp">
                        &#9733;&nbsp;Dune&nbsp;Raffle&nbsp;Coupon&nbsp;&#9733;
                    </h1>
                    <h1 id="ticket-coupon-single" class="pp">
                        Ticket number <span id="ticket-coupon-single-value">{value}</span>
                    </h1>
                    <h1 id="ticket-coupon-multi" class="pp">
                        Tickets from <span id="ticket-coupon-multi-min">{min}</span> to <span id="ticket-coupon-multi-max">{max}</span>
                    </h1>
                    <h6 style="font-size:70%">
                        Keep&nbsp;calm&nbsp;and&nbsp;wait&nbsp;for&nbsp;the&nbsp;final&nbsp;draw
                    </h6>
                </div>
            </div>
        </div>
    </div>

    <!-- game notifications area -->
    <div style="margin: 30px 0">

        <div id="game-initial-phase">

            <div id="game-initial-phase-playing">
                <p class="button xbutton" onclick='controller.play()'>
                    Get Your Raffle Ticket Now
                </p>
                <br/><br/>
                <div id="insert-secret">
                    <input type="checkbox" id="insert-secret-input" name="insert-secret-input" value="No">
                    <label for="insert-secret-input" onclick="controller.swapInsertSecret();" style="text-align: left; font-size:95%">
                        Participate in raffle randomness to prevent organizers from foul-play:<br/>
                        Insert a hidden secret, reveal it in the next phase, and get X<span class="font-weight-bold" id="nb-tickets-per-commit-2">{nb-tickets-per-commit-2}</span> more tickets.<br/>
                        Required security deposit is <span class="font-weight-bold" id="player-security-deposit-2">{player-deposit}</span> DUN (refunded upon secret revelation).
                    </label>
                </div>

                <div id="game-initial-phase-secret-explanation" style="background-color:#f3f3f3; margin: 0px auto; padding: 15px 0 0 0;">

                    <div class="row">
                        <div class="col-4" style="line-height: 45px; text-align: right;">
                            Your secret:
                        </div>
                        <div class="col-8 mb-2">
                            <input id="game-initial-phase-playing-secret" type="text" style="width: 60%; min-width: 300px; height: 45px; line-height: 45px; display: block" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4" style="line-height: 45px; text-align: right;">
                            Your nonce:
                        </div>
                        <div class="col-8 mb-2">
                            <input id="game-initial-phase-playing-nonce" type="text" style="width: 60%; min-width: 300px; height: 45px; line-height: 45px; display: block" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4" style="line-height: 45px; text-align: right;">
                            Commitment:
                        </div>
                        <div class="col-8 mb-2">
                            <input id="game-initial-phase-playing-commitment" type="text" style="width: 60%; min-width: 300px; height: 45px; line-height: 45px; display: block" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4">
                            &nbsp;
                        </div>
                        <div class="col-8 mb-2" style="text-align: left;">
                            <p class="button" onclick='controller.generateSecret(true)'>
                                (Re-)generate
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div id="game-initial-phase-submitting">
                <h3>
                    Your registration is waiting for inclusion.
                </h3>
                <p class="pp">operation hash is <span id="game-initial-phase-submitting-op-hash">{game-initial-phase-submitting-op-hash}</span>.</p>
            </div>
            <div id="game-initial-phase-waiting-1">
                <h3>
                    Your registration has been taken into account.
                </h3>
                <p class="pp">operation <span id="game-initial-phase-waiting-1-op-hash">{game-initial-phase-waiting-1-op-hash}</span><br/> included <b>
                    <span id="game-initial-phase-waiting-1-block">{game-initial-phase-waiting-1-block}</span></b> ago.
                </p>
            </div>
            <div id="game-initial-phase-waiting-2">
                <h3>
                    Your registration has been taken into account.
                </h3>
                <p class="pp">
                    Waiting for players revelation and the final draw ...
                </p>
            </div>
            <div id="game-initial-phase-waiting-3">
                <h3>
                    Your registration has been taken into account.
                </h3>
                <p class="pp">
                    Reveal your secret in the next phase to get your tickets and retrieve your deposit.
                </p>
            </div>
        </div>

        <div id="game-reveal-phase">

            <div id="game-reveal-phase-revealing">
                <p class="button xbutton" onclick='controller.revealSecret()'>
                    Reveal the secret below
                </p>
                <div id="game-reveal-phase-secret-explanation" style="background-color:#f3f3f3; margin: 20px auto; padding: 20px 0 10px 0;">
                    <div class="row">
                        <div class="col-4" style="line-height: 45px; text-align: right;">
                            Your secret:
                        </div>
                        <div class="col-8 mb-2">
                            <input id="game-reveal-phase-playing-secret" type="text" style="width: 60%; min-width: 300px; height: 45px; line-height: 45px; display: block" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4" style="line-height: 45px; text-align: right;">
                            Your nonce:
                        </div>
                        <div class="col-8 mb-2">
                            <input id="game-reveal-phase-playing-nonce" type="text" style="width: 60%; min-width: 300px; height: 45px; line-height: 45px; display: block" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-4" style="line-height: 45px; text-align: right;">
                            Commitment:
                        </div>
                        <div class="col-8 mb-2">
                            <input id="game-reveal-phase-playing-commitment" type="text" style="width: 60%; min-width: 300px; height: 45px; line-height: 45px; display: block" />
                        </div>
                    </div>
                </div>
            </div>

            <div id="game-reveal-phase-submitting">
                <h3>
                    Your revelation is waiting for inclusion.
                </h3>
                <p class="pp">operation hash is <span id="game-reveal-phase-submitting-op-hash">{game-reveal-phase-submitting-op-hash}</span>.</p>
            </div>
            <div id="game-reveal-phase-waiting-1">
                <h3>
                    Your revelation has been taken into account.
                </h3>
                <p class="pp">operation <span id="game-reveal-phase-waiting-1-op-hash">{game-reveal-phase-waiting-1-op-hash}</span><br/> included <b><span id="game-reveal-phase-waiting-1-block">{game-reveal-phase-waiting-1-block}</span></b> ago.
                </p>
            </div>
            <div id="game-reveal-phase-waiting-2">
                <h3>
                    Your revelation has been taken into account.
                </h3>
                <p class="pp">
                    Waiting for the final random draw...
                </p>
            </div>

            <div id="game-reveal-phase-waiting-3">
                <h3>Waiting for players who inserted secrets to reveal them...</h3>
            </div>
        </div>

        <div id="game-finalize-phase">
            <p class='pp'>Waiting for organizers to reveal their secret to draw a winner ...</p>

            <div id="game-finalize-phase-to-denounce">
                <h3>The organizer didn't reveal within the expected time limit!</h3>

                <p class="button xbutton" onclick='controller.denounce()'>
                    Denounce the organizer
                </p>
            </div>

            <div id="game-finalize-phase-denouncing-1">
                <h3>
                    Your denunciation request is waiting for inclusion.
                </h3>
                <p class="pp">operation hash is <span id="game-finalize-phase-denouncing-1-op-hash">{game-finalize-phase-denouncing-1-op-hash}</span>.</p>
            </div>
        </div>


        <div id="game-ended-phase">
            <div id="game-ended-phase-with-winner">
                <h3>Player <span id="game-ended-winner">{game-ended-winner}</span> won <span id="game-ended-reward">{game-ended-reward}</span> DGG</h3>
            </div>
            <div id="game-ended-phase-no-winner">
                <h3>There are no eligible participants for the draw.</h3>
            </div>
            <p id='open-new-raffle-message-1' class='pp'>Waiting for an organizer to open a new raffle ...</p>
        </div>

        <div id="game-compromised-phase">

            <div id="game-compromised-phase-early">
                <h3>The organizer revealed their secret too early and were slashed.</h3>
            </div>

            <div id="game-compromised-phase-late">
                <h3>The organizer did not reveal their secret within the expected time frame and were slashed.</h3>
            </div>

            <div id="game-compromised-phase-no-compensation">
                <p class='pp'>There are no participants in this game.</p>
                <p id='open-new-raffle-message-2' class='pp'>Waiting for an organizer to open a new raffle...</p>
            </div>

            <div id="game-compromised-phase-to-compensate-not-played">
                <p class="pp">As a compensation, every participant gets <span id="game-compromised-phase-to-compensate-not-played-reward">{game-compromised-phase-to-compensate-not-played-reward}</span> DUN.
                    <span id="game-compromised-phase-deposits-refund-0">{game-compromised-phase-deposits-refund-0}</span>
                </p>
            </div>

            <div id="game-compromised-phase-to-compensate">

                <p class="pp">As a compensation, every participant gets <span id="game-compromised-phase-to-compensate-reward">{game-compromised-phase-to-compensate-reward}</span> DUN.
                    <span id="game-compromised-phase-deposits-refund-1">{game-compromised-phase-deposits-refund-1}</span>
                </p>
                <p class="button xbutton" onclick='controller.compensate()'>
                    Get Your Compensation
                </p>
            </div>

            <div id="game-compromised-phase-compensating-1">
                <p class="pp">As a compensation, every participant gets <span id="game-compromised-phase-compensating-1-reward">{game-compromised-phase-compensating-1-reward}</span> DUN.
                    <span id="game-compromised-phase-deposits-refund-2">{game-compromised-phase-deposits-refund-2}</span>
                </p>
                <h3>
                    Your compensation request is waiting for inclusion.
                </h3>
                <p class="pp">operation hash is <span id="game-compromised-phase-compensating-1-op-hash">{game-compromised-phase-compensating-1-op-hash}</span>.</p>
            </div>
            <div id="game-compromised-phase-compensating-2">
                <p class="pp">As a compensation, every participant gets <span id="game-compromised-phase-compensating-2-reward">{game-compromised-phase-compensating-2-reward}</span> DUN.
                    <span id="game-compromised-phase-deposits-refund-3">{game-compromised-phase-deposits-refund-3}</span>
                </p>
                <h3>
                    Your compensation request has been taken into account.
                </h3>
                <p class="pp">operation <span id="game-compromised-phase-compensating-2-op-hash">{game-compromised-phase-compensating-2-op-hash}</span><br/> included <b>
                    <span id="game-compromised-phase-compensating-2-block">{game-compromised-phase-compensating-2-block}</span></b> ago.
                </p>
            </div>

            <div id="game-compromised-phase-compensated">

                <p class="pp">As a compensation, every participant gets <span id="game-compromised-phase-compensated-reward">{game-compromised-phase-compensated-reward}</span> DUN.
                    <span id="game-compromised-phase-deposits-refund-4">{game-compromised-phase-deposits-refund-4}</span>
                </p>
                <p id='open-new-raffle-message-3' class='pp'>You already got your compensation. Once all participants have got theirs, an organizer can open a new raffle.</p>
            </div>

        </div>

        <div id="game-unexpected-phase">
            <h3>Unknown game state: <span id="game-unexpected-game-state">{game-unexpected-game-state}</span></h3>
        </div>
        <br/>

        <div class="row justify-content-center" style="margin-bottom: 20px; margin-top:5px">
            <div class="col-md-2 mb-3">
                <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px">
                    <p style="font-weight: bold; font-size:95%">
                        Num. of Players
                    </p>
                </div>
                <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                    <p style="font-weight: bold" id="num-of-players">
                        {num-of-players}
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px">
                    <p style="font-weight: bold; font-size:95%">
                        Regular Players
                    </p>
                </div>
                <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                    <p style="font-weight: bold" id="regular-players">
                        {regular-players}
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px">
                    <p style="font-weight: bold; font-size:95%">
                        Inserted Commits
                    </p>
                </div>
                <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                    <p style="font-weight: bold;" id="inserted-commits">
                        {inserted-commits}
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px">
                    <p style="font-weight: bold; font-size:95%">
                        Revealed Commits
                    </p>
                </div>
                <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                    <p style="font-weight: bold;" id="revealed-commits">
                        {revealed-commits}
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3">
                <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px">
                    <p style="font-weight: bold; font-size:95%">
                        Total Tickets
                    </p>
                </div>
                <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                    <p style="font-weight: bold;" id="num-of-tickets">
                        {num-of-tickets}
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3" id="winning-ticket-main-page" style="display:none">
                <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px">
                    <p style="font-weight: bold; font-size:95%">
                        Winning Ticket
                    </p>
                </div>
                <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                    <p style="font-weight: bold;" id="winning-ticket-main-page-value">
                        {winning-ticket}
                    </p>
                </div>
            </div>
            <div class="col-md-2 mb-3" id="current-game-compensated-column" style="display:none">
                <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px">
                    <p style="font-weight: bold; font-size:95%">
                        Compensated
                    </p>
                </div>
                <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                    <p style="font-weight: bold;" id="num-of-compensated">
                        {num-of-compensated}
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-md-3 mb-3">
                <a style="font-weight: bold; cursor: pointer; color: #f56a6a; font-size: 105%; border: 0;" onclick='controller.showPopUp("game-details-popup")'>
                    &#9658; Game Details
                </a>
            </div>
            <div class="col-md-3 mb-3" onclick='controller.showPopUp("history-popup")'>
                <a style="font-weight: bold; cursor: pointer; color: #f56a6a; font-size: 105%; border: 0;">
                    &#9658; Games History
                </a>
            </div>
            <div class="col-md-3 mb-3" onclick='controller.showPopUp("raffle-parameters-popup")'>
                <a style="font-weight: bold; cursor: pointer; color: #f56a6a; font-size: 105%; border: 0;">
                    &#9658; Raffle Parameters
                </a>
            </div>
        </div>
    </div>

    <!-- popup(s) -->


    <div id="popup-extra-info" style="display:none; background-color: rgba(120, 120, 120, .8); position: fixed; top: 0; left:0; z-index: 15001; width: 100vw; height: 100vh;">
        <div class="container d-flex" style="height: 95%; max-width: 90vw; background-color: #fff; margin:10px auto; overflow-x: scroll; overflow-y: auto; padding-bottom: 60px; border-radius: 15px">
            <div style="position:fixed; border-radius: 15px; background-color: #eee; border-bottom: 3px solid #ddd; margin: 12px 0; min-height: 45px; padding: 10px 15px; color: tomato; font-weight: bold; cursor: pointer" onclick='controller.closePopUp()'>
                Close
            </div>
            <div class="justify-content-center align-self-center" style="text-align: center; margin:auto; padding: 60px 30px;">
                <div id='game-details-popup'>
                    <h2>Details of <span id="raffle-kind-3">{raffle-kind-3}</span> Raffle #<span id="raffle-id">{raffle-id}</span></h2>

                    <br/>

                    <div class="row justify-content-center" style="margin-bottom: 40px;">
                        <div class="col-md-4 mb-3">
                            <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px">
                                <p style="font-weight: bold;">
                                    Combined Secret
                                </p>
                            </div>
                            <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                                <p style="font-weight: bold;" id="combined-secret">
                                    {combined-secret}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px">
                                <p style="font-weight: bold;">
                                    Your Ticket(s)
                                </p>
                            </div>
                            <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                                <p style="font-weight: bold;" id="player-tickets">
                                    {player-tickets}
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div style="background-color: #eee; border: 1px solid #eee; border-radius: 20px 20px 0px 0px; padding: 2px 6px">
                                <p style="font-weight: bold;">
                                    Winning Ticket
                                </p>
                            </div>
                            <div style="background-color: #fff; border: 2px solid #eee; border-radius: 0px 0px 20px 20px; padding: 2px 6px">
                                <p style="font-weight: bold;" id="winning-ticket">
                                    {winning-ticket}
                                </p>
                            </div>
                        </div>
                    </div>
                    <div style='min-height: 300px; min-width: 400px; text-align: left'>
                        <table class=table>
                            <thead>
                                <tr>
                                    <th style="width:48%">
                                        Organizer
                                    </th>
                                    <!--<th style="width:17%">
                                        Ticket(s)&nbsp;Number
                                    </th>-->
                                    <th style="width:17%">
                                        Commitment
                                    </th>
                                    <th style="width:17%">
                                        Secret
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td id='org-address'></td>
                                    <td id='org-commit'></td>
                                    <td id='org-secret'></td>
                                </tr>
                            </tbody>
                        </table>
                        <br/>
                        <table class=table>
                            <thead>
                                <tr>
                                    <th style="width:48%">
                                        Player&nbsp;Address
                                    </th>
                                    <!--<th style="width:17%">
                                        Ticket(s)&nbsp;Number
                                    </th>-->
                                    <th style="width:17%">
                                        Commitment
                                    </th>
                                    <th style="width:17%">
                                        Secret
                                    </th>
                                </tr>
                            </thead>
                            <tbody id="list-of-participants">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div id='history-popup'>
                    <h2>Games History</h2>

                    <select id="history-filter" class="browser-default custom-select" style="width: 200px; margin: 0px auto 25px auto; font-weight: bold" onchange='controller.changeHistoryFilter(false);'>
                <option value="mine" selected>Show your games</option>
                <option value="all">Show all games</option>
            </select>
                    <table class=table>
                        <thead>
                            <tr>
                                <th style="width:5%">
                                    Game<br/>ID
                                </th>
                                <th style="width:30%">
                                    Opened<br/>On
                                </th>
                                <th style="width:10%">
                                    Game<br/>Status
                                </th>
                                <th style="width:7%">
                                    Nb.<br/>Players
                                </th>
                                <th style="width:7%">
                                    Commits/<br/>Reveals
                                </th>
                                <th style="width:7%">
                                    Valid<br/>Tickets
                                </th>
                                <th style="width:35%">
                                    Raffle<br/>Winner
                                </th>
                            </tr>
                        </thead>
                        <tbody style="text-align: left;" id="raffle-history-games-list">
                        </tbody>
                    </table>
                    <ul>
                        <li class="button" onclick="controller.changeHistoryPage(-1)">&#9664; Prev</li>
                        <li class="button" id="history-page-number">?</li>
                        <li class="button" onclick="controller.changeHistoryPage(+1)">Next &#9654;</li>
                    </ul>
                    <br/>

                </div>
                <div id="raffle-parameters-popup">
                    <h2><span id="raffle-kind-params">{raffle-kind-params}</span> Raffle Parameters</h2>
                    <br/>
                    <div>
                        <table class="pp table" style="width: 70%; min-width: 550px; margin: auto; text-align: center;">
                            <tr>
                                <td style="text-align: right;">
                                    Organizers security deposit
                                </td>
                                <td style="text-align: left; margin-left: 20px">
                                    <span id="organizer-security-deposit">{organizer-security-deposit}</span> DUN
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">
                                    Players security deposit (per commit)
                                </td>
                                <td style="text-align: left; margin-left: 20px">
                                    <span id="player-security-deposit">{player-security-deposit}</span> DUN
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">
                                    Tickets per revealed player's secret
                                </td>
                                <td style="text-align: left; margin-left: 20px">
                                    <span id="nb-tickets-per-commit">{nb-tickets-per-commit}</span> tickets
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">
                                    Organizers reward
                                </td>
                                <td style="text-align: left; margin-left: 20px">
                                    <span id="organizer-reward">{organizer-reward}</span> DGG
                                </td>
                            </tr>
                            <tr>
                                <td style="text-align: right;">
                                    Winners reward
                                </td>
                                <td style="text-align: left; margin-left: 20px">
                                    <span id="winner-reward">{winner-reward}</span> DGG
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /popup(s) -->


    <hr style="margin: 30px auto; width: 50%;" />

    <p class="pp">
        <span class="span-pseudo-tab">Your stats:</span>
        <span id="play-self-finished">?</span> games
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-self-nb-won">?</span> won
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-self-success-rate">?</span> % success
    </p>


</section>


<!--


<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
-->