<section class="content-section">
    <div class="about-game-container">
        <div class="about-game">
            <p class="pp">Our oracle loves playing Rock-Paper-Scissors! It inserted a list of secret moves into a smart contract, and is waiting for your choices to reveal them. Will you be able to beat the oracle?
            </p>
            <!--<p class="pp">This version of RPS only stores mandatory data onchain. When a game is finished, its storage is garbage-collected and re-used by other games. This way, burn cost is eventually null.</p>-->
            <p class="pp">&#8669; Last, but not least, if your dn1 address is revealed, this game's contract <b>may pay fees for you!</b>
            </p>
        </div>
    </div>

    <div>
        <ul id="get-free-duns" style="display: none;">
            <!-- TODO -->
            <!--<li id="reveal-pubkey" style="display: none;" class="button">Reveal my public key</li>-->
            <li class="button" onclick="document.location = 'free-duns.php';">Get Free DUNs</li>
        </ul>
        <div id="pay-fees" style="display: none;" onmouseup='rpsController.swapPayFees();'>
            <input type="checkbox" id="collectCall" name="collectCall" value="No">
            <label class="pp" for="collectCall">Pay fees for me if possible (your address should be revealed)</label><br>
        </div>
    </div>
    <br/>
    <div id="play-message"></div>
    <div id="play-area">
        <img id='rock' style="cursor:pointer" src="/images/rock.png" onclick="rpsController.play('Rock')" />
        <img id='paper' style="cursor:pointer" src="/images/paper.png" onclick="rpsController.play('Paper')" />
        <img id='scissors' style="cursor:pointer" src="/images/scissors.png" onclick="rpsController.play('Scissors')" />
    </div>
    <div id="play-move-status"></div>

    <hr />

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="centered-th-5">
                        Global ID
                    </th>
                    <th class="centered-th-5">
                        Your move
                    </th>
                    <th class="centered-th-5">
                        Oracle's move
                    </th>
                    <th class="centered-th-5">
                        Status
                    </th>
                    <th class="centered-th-5">
                        Reward
                    </th>
                </tr>
            </thead>
            <tbody id="rps-history-games-list">
            </tbody>
        </table>
    </div>

    <ul>
        <li class="button" onclick="rpsController.changeHistoryPage(-1)">&#9664; Prev</li>
        <li class="button" id="history-page-number">?</li>
        <li class="button" onclick="rpsController.changeHistoryPage(+1)">Next &#9654;</li>
    </ul>

    <br />
    <p class="pp">
        <span class="span-pseudo-tab">Your stats:</span>
        <span id="play-self-finished">?</span> games
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-self-nb-won">?</span> won
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-self-success-rate">?</span> % success
    </p>

    <p class="pp">
        <span class="span-pseudo-tab">Global game stats:</span>
        <span id="play-global-finished">?</span> finished
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-global-ongoing">?</span> ongoing
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-global-open">?</span> open
    </p>

</section>