<section class="content-section">

    <div class="about-game-container">
        <div class="about-game">
            <p class="pp">
                $DGG is a token on Dune Network that you obtain when playing on Dune Playground. These tokens can be kept by players to improve their global ranking or transferred to others. You can also exchange them for some DUNs. For that, just send them to the exchange
                address given at the end of this page.
            </p>
        </div>
    </div>

    <h2>Send DGG Tokens</h2>

    <p class="pp">Destination Address</p>
    <input id="dgg-destination" type="text" style="width: 50%; min-width: 300px; margin: auto;" />
    <p class="pp">Amount of DGG(*)</p>
    <input id="dgg-amount" type="text" style="width: 50%; min-width: 300px; margin: auto;" />
    <input id="dgg-send" type="button" style="margin:30px auto; width: 20%; min-width: 200px" value="Send" onclick="dggController.sendDGG()" />

    <br/>
    <small>(*) Note that additional network fees and burn will be payed in $DUN.</small>
    <br/><br/>
    <div id="dgg-send-status">
    </div>

    <hr />

    <h2>Convert $DGG Tokens into $DUN Tokens</h2>
    <p class="pp"> To exchange $DGG tokens for $DUN, send them to the following address in the form above:</p>
    <h3 id='dgg-token-burner' style="margin-top:20px; cursor: pointer;" onclick="dggController.setExchangeAsDestTransfer();"></h3>
    <p class="pp"> The contract will send the $DUN back to your address.</p>
    <p class="pp">Current exchange ratio is <span class="bold" style="background-color: #eee; padding: 0 10px"><span id='dgg-exchange-ratio'>?</span> $DGG = 1 $DUN </span>
    </p>
    <p class="pp">Current exchange contract balance is <span class="bold" style="background-color: #eee; padding: 0 10px"><span id='dgg-exchange-balance'>?</span> $DUN</span>
    </p>

</section>