<style>
    div#animation {
        height: 300px;
        width: 600px;
        overflow: hidden;
        position: relative;
        margin: auto;
        margin-bottom: 10px;
    }
    
    #animation img {
        position: absolute;
    }
    
    #animation div {
        position: absolute;
    }
    
    #animation img#background {
        margin-left: -300px
    }
    
    #animation img#line {
        margin-top: 230px;
        margin-left: -300px
    }
    
    #animation img#rocket {
        height: 100px;
        width: 50px;
        margin-top: 230px;
        margin-left: -26px;
    }
    
    #animation img#moon {
        height: 30px;
        width: 30px;
        margin-left: -10px;
        margin-top: 11px
    }
    
    #animation img#parachute {
        height: 70px;
        width: 50px;
        margin-top: 210px;
        -webkit-filter: invert(100%);
        /* Safari/Chrome */
        filter: invert(100%);
    }
    
    #distance-div {
        color: white
    }
</style>

<section class="content-section">


    <div class="about-game-container">
        <div class="about-game">
            <p class="pp">
                We're working hard to send the Dune rocket to the moon! Would you be interested to be part of the adventure ? Take a seat, fasten your belt, make a bet, and let's start the countdown.
            </p>
            <p class="pp">
                Your mission, should you choose to accept it, is to guess the maximal altitude reached by the rocket during our next test before it explodes. Or maybe, it'll go to the Moon this time ?
            </p>
        </div>
    </div>

    <br/>
    <div id="play-area">
        <div id='animation'>
            <img id='background' src='/images/night_sky.png'>
            <img id='moon' src='/images/dune-icon.png'>
            <img id='rocket' src='/images/rocket.png'>
            <img id='line' src='/images/electric-line.png'>
            <div id='distance-div'>
                <span id='distance'>0</span>KM
            </div>
        </div>
        <br/>
        <ul id="get-free-duns" style="display: none;">
            <!-- TODO -->
            <!--<li id="reveal-pubkey" style="display: none;" class="button">Reveal my public key</li>-->
            <li class="button" onclick="document.location = 'free-duns.php';">Get Free DUNs</li>
        </ul>
        <div id="pay-fees" style="display: none;" onmouseup='moonshotController.swapPayFees();'>
            <input type="checkbox" id="collectCall" name="collectCall" value="No">
            <label for="collectCall"><span>Pay fees for me if possible (your address should be revealed)</span></label><br/>
        </div>
        <br/>
        <ul>
            <li class="button" onclick="moonshotController.slide(-1)">&#9664;</li>
            <li id="moonshotChoice" class="button" style="min-width: 100px">?</li>
            <li class="button" onclick="moonshotController.slide(+1)">&#9654;</li>
            <li class="button" onclick="moonshotController.play()" style="margin-left: 40px; width: 20%; min-width: 100px">Play</li>
        </ul>
    </div>

    <div id="play-message"></div>

    <div id="play-move-status"></div>

    <hr/>

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="centered-th-5">
                        Global ID
                    </th>
                    <th class="centered-th-5">
                        Your move
                    </th>
                    <th class="centered-th-5">
                        Oracle's move
                    </th>
                    <th class="centered-th-5">
                        Status
                    </th>
                    <th class="centered-th-5">
                        Reward
                    </th>
                </tr>
            </thead>
            <tbody id="moonshot-history-games-list">
            </tbody>
        </table>
    </div>

    <ul>
        <li class="button" onclick="moonshotController.changeHistoryPage(-1)">&#9664; Prev</li>
        <li id="history-page-number" class="button">?</li>
        <li class="button" onclick="moonshotController.changeHistoryPage(+1)">Next &#9654;</li>
    </ul>


    <br />
    <p class="pp">
        <span class="span-pseudo-tab">Your stats:</span>
        <span id="play-self-finished">?</span> games
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-self-nb-won">?</span> won
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-self-success-rate">?</span> % success
    </p>

    <p class="pp">
        <span class="span-pseudo-tab">Global game stats:</span>
        <span id="play-global-finished">?</span> finished
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-global-ongoing">?</span> ongoing
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-global-open">?</span> open
    </p>

</section>