h1 {
    font-size: 280%
}

p {
    color: #666;
    margin: 12px 0px;
}

.pp {
    font-size: 125%;
}

.bold {
    font-weight: bold;
}

.active-item {
    color: rgb(235, 106, 106);
    font-weight: bold;
}

.disabled-div {
    opacity: 0.3;
    background-color: #999;
    padding: 20px;
    margin: 30px;
    cursor: not-allowed;
}

.about-game {
    text-align: left;
    padding: 10px 10px 10px 100px;
    margin: 10px;
}

a:hover {
    text-decoration: none;
}

.about-game-container {
    margin: 30px;
    background-color: #f3f3f3;
    background-image: url('../images/provider-idea.png');
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 100px;
}

@media (max-width: 600px) {
    .about-game-container {
        margin: 20px;
        background-color: #f3f3f3;
        background-image: url('../images/provider-idea.png');
        background-repeat: no-repeat;
        background-position: top left;
        background-size: 60px;
    }
    .about-game {
        padding: 50px 8px 8px 8px
    }
}

#overlay-xxl {
    opacity: 0.8;
    background-color: #ddd;
    width: 100%;
    height: 100%;
    z-index: 15002;
    text-align: center;
    color: #000;
}

#overlay-xxl {
    position: fixed;
    top: 0px;
    left: 0px;
    display: none;
}

#overlay-xxl-content {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    min-width: 200px;
    margin: -15% 0 0 -25%;
}

@media screen and (max-width: 767px) {
    .timeline-div {
        width: 95%;
    }
}

.black {
    color: #000;
    font-size: 160%
}

.captcha-screen {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1001;
    background-color: #333;
    opacity: 0.9;
    margin: auto;
    text-align: center;
}

.captcha-container {
    width: min-content;
    margin: 100px;
    border: 60px solid #000;
    border-radius: 50% 20% / 10% 40%;
    display: inline-block;
}


/* redefine / change */

.icons {
    margin-bottom: 5px;
    text-align: center;
}

.center-left-list {
    text-align: left;
    margin: 30px auto;
    width: max-content;
}

@media (max-width: 600px) {
    .center-left-list {
        text-align: left;
        margin: 30px auto;
        width: 100%;
    }
}

.centered-th-5 {
    text-align: center;
    width: 20%
}

.span-pseudo-tab {
    margin: 0 20px
}

#main {
    position: relative;
    min-height: 100vh !important;
}

.inner {
    padding-bottom: 200px !important
}

#sidebar {
    z-index: 1001
}

#logo {
    background-color: #ddd !important;
    cursor: pointer;
    text-align: center
}

.major {
    height: 60px;
}

#menu {
    padding-bottom: 0!important;
    border: 0 !important
}

#media-orl {
    padding-bottom: 0!important;
    border: 0 !important
}

#account {
    padding-bottom: 0!important;
    border: 0 !important
}

#footer {
    text-align: center;
    background-color: #f5f6f7;
    padding: 20px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-size: 95%;
}

#header {
    padding-top: 22px;
    padding-bottom: 10px;
    text-transform: capitalize !important
}

#view-title {
    text-align: right;
    margin-left: 50px
}

.content-section {
    text-align: center;
    margin: 40px 0
}