<section class="content-section">
    <div class="about-game-container">
        <div class="about-game">
            <p class="pp">Our oracle loves playing Rock-Paper-Scissors! It inserted a list of secret moves into a smart contract, and is waiting for your choices to reveal them. Will you be able to beat the oracle?
            </p>
            <p class="pp">This version of RPS stores everything onchain. No server or crawler needed, but you pay burn fees for each choice.
            </p>
        </div>
    </div>

    <div id="play-area">
        <img id='rock' style="cursor:pointer" src="/images/rock.png" onclick="rpsController.play('Rock')" />
        <img id='paper' style="cursor:pointer" src="/images/paper.png" onclick="rpsController.play('Paper')" />
        <img id='scissors' style="cursor:pointer" src="/images/scissors.png" onclick="rpsController.play('Scissors')" />
    </div>
    <div id="play-move-status">
    </div>

    <hr />

    <div>
        <table class="table">
            <thead>
                <tr>
                    <th class="centered-th-5">
                        Global ID
                    </th>
                    <th class="centered-th-5">
                        Your move
                    </th>
                    <th class="centered-th-5">
                        Oracle's move
                    </th>
                    <th class="centered-th-5">
                        Status
                    </th>
                    <th class="centered-th-5">
                        Reward
                    </th>
                </tr>
            </thead>
            <tbody id="rps-history-games-list">
            </tbody>
        </table>
    </div>

    <ul>
        <li class="button" onclick="rpsController.changeHistoryPage(-1)">&#9664;</li>
        <li id="history-page-number" class="button">?</li>
        <li class="button" onclick="rpsController.changeHistoryPage(+1)">&#9654;</li>
    </ul>

    <br />
    <p class="pp">
        <span class="span-pseudo-tab">Your stats:</span>
        <span id="play-self-finished">?</span> games
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-self-nb-won">?</span> won
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-self-success-rate">?</span> % success
    </p>

    <p class="pp">
        <span class="span-pseudo-tab">Global game stats:</span>
        <span id="play-global-finished">?</span> finished
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-global-ongoing">?</span> ongoing
        <span class="span-pseudo-tab">&#10043;</span>
        <span id="play-global-open">?</span> open
    </p>

</section>