<section class="content-section">
    <h2>About Dune Playground</h2>

    <div class="about-game-container">
        <div class="about-game">
            <p class="pp">
                Dune Playground is developed by <a target="_blank" href="https://www.origin-labs.com">Origin Labs</a> for <a target="_blank" href="https://dune.network">Dune Network</a> as a showcase of how to write DApps for Dune and use the <a href="https://metal.dune.network">Metal</a>                browser extension. DApps and website are open-source and available here: <a href="https://gitlab.com/dune-network/dune-playground">gitlab.com/dune-network/dune-playground</a>.
            </p>
            <br/>
            <p class="pp">
                <strong>How to contribute.</strong> You might contribute in various ways:
                <ul class="pp" style="list-style: square; font-size: 110%;">
                    <li>play our games and report unexpected behaviors or bugs;</li>
                    <li>improve UI/UX if you're a talented designer;</li>
                    <li>improve Javascript / DApps code;</li>
                    <li>implement new DApps / games;</li>
                    <li>suggest new games;</li>
                    <li>write tutorials / make videos;</li>
                    <li>spread the word / invite friends.</li>
                </ul>
            </p>
        </div>
    </div>

</section>