<section style="text-align: center; margin: 50px 0 90px 0">
    <h1>Dune Playground</h1>
    <div class="features" style="margin-top: 50px">
        <article style="text-align: center">
            <h2 style="line-height: 60px; font-weight: normal">
                Let's play games on Dune Network, have fun, learn how to code DApps on Dune, and earn <strong>DGG Tokens</strong>
            </h2>
        </article>
        <article style="text-align: center">
            <img style="text-align: center; margin:auto" src="images/Video-Game-Controller-Icon-IDV-edit.svg" />
        </article>
    </div>
</section>


<section style="text-align: center; margin: 90px auto">
    <h1>How To Play</h1>


    <div class="center-left-list">
        <ol class="pp">
            <li>
                <a href="https://metal.dune.network/">Download</a> and install Metal browser extension
            </li>
            <li>
                Restore or create a dn1 account on Metal
            </li>
            <li>
                If you don't have $DUN, <a href="free-duns.php">get some coins</a> for free
            </li>
            <li>
                <a href="#home-play-now">Start playing</a>. You earn $DGG tokens even when you lose!
            </li>
            <li>
                <a href="dgg-token.php">Exchange the $DGG tokens</a> you earned for some more $DUN
            </li>
        </ol>
    </div>

</section>

<section id="home-play-now" style="text-align: center; margin: 90px 0">
    <h1>List of Games</h1>

    <div class="posts" style="margin-top: 50px">
        <article>
            <h3>Dune Raffle</h3>
            <p style="text-align: justify">
                Step right up! Dune Raffle is here and it's free to play! Will you be the winner of the jackpot? There's only one way to find out! Insert an alea during play to increase your odds!
            </p>
            <ul class="actions">
                <li>
                    <a href="dune-raffle.php " class="button ">Play Dune Raffle</a>
                </li>
            </ul>
        </article>
        <article>
            <h3>Rock Paper Scissors</h3>
            <p style="text-align: justify">Our oracle loves playing Rock-Paper-Scissors! It inserts a list of secret moves and is now waiting for your choices to reveal them. Will you be able to beat the oracle ?</p>
            <ul class="actions">
                <li>
                    <a href="rps+server.php " class="button ">Play Rock Paper Scissors</a>
                </li>
            </ul>
        </article>
        <article>
            <h3>Dune Moonshot</h3>
            <p style="text-align: justify ">We're working hard to send the Dune rocket to the moon! Interested to be part of the adventure ? Take a seat, fasten your belt, make a bet, and let's start the countdown.
            </p>
            <ul class="actions ">
                <li>
                    <a href="moonshot+server.php " class="button ">Play Dune Moonshot</a>
                </li>
            </ul>
        </article>
    </div>
</section>


<section id="about-playground " style="text-align: center; margin: 90px 0 ">
    <h1>About</h1>

    <div class="posts " style="margin-top: 50px ">
        <article>
            <h3>DGG Token</h3>
            <p style="text-align: justify ">
                You get rewarded in $DGG tokens when playing our games. These tokens can be kept by players to improve their global ranking or transferred to others. They could also be exchanged for some DUNs.
            </p>
            <ul class="actions ">
                <li><a href="dgg-token.php " class="button ">More</a></li>
            </ul>
        </article>
        <article>
            <h3>Metal Browser Extension</h3>
            <p style="text-align: justify ">To play our games, you need the Dune Metal browser extension. Download and install it from the link below, and restore an account on it (or create a fresh one) to start interacting with the games.
            </p>
            <ul class="actions ">
                <li><a target="_blanck " href="https://metal.dune.network/ " class="button ">Get Metal</a></li>
            </ul>
        </article>
    </div>
</section>



<section style="text-align: center; margin: 40px 0 ">
    &nbsp;
</section>